<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-one">
          <div id="foot_nav">
           
            
            <div class="footer-link end">
              <h3 class="footer-link-head">Genre</h3>
              <p>
                <a href="/genre/top-rated">Trending movies</a>
              </p>
              <p>
                <a href="/genre/action">Action</a>
              </p>
              <p>
                <a href="/genre/comedy">Comedy</a>
              </p>
              <p>
                <a href="/genre/horror">Horror</a>
              </p>
              <p>
                <a href="/genre/science-fiction">Science Fiction</a>
              </p>
            </div>
          </div>
         
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 footer-subs">
          <h3 class="footer-link-head">{{ site_name }} - Watch HD Bollywood Movies Online « {{ site_name }}</h3>
          <p class="desc">{{ site_name }} Watch Latest Movies,TV Series Online for free,Download on {{ site_name }} Online,{{ site_name }} Bollywood,{{ site_name }} app,{{ site_name }} Website,yo-movies.</p>
          <div class="form-subs mt20">
            <div id="social-foot" class="footer-social"></div>
            <div class="clearfix"></div>
          </div>
          <div id="error-email-subs-footer" class="alert alert-danger error-block"></div>
          <div id="success-subs-footer" class="alert alert-success error-block"></div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 footer-copyright">
          
          <p>
            <span class="copyright"> {{ site_name }} - Watch HD Bollywood Movies Online « {{ site_name }}</span>
          </p>
          <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.4)">{{ site_name }} Watch Latest Movies,TV Series Online for free,Download on {{ site_name }} Online,{{ site_name }} Bollywood,{{ site_name }} app,{{ site_name }} Website,pr-movies.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="footer-tags">
        <a title="{{ site_name }} Online">{{ site_name }} Online</a>
        <a title="{{ site_name }} Bollywood">{{ site_name }} Bollywood</a>
        <a title="{{ site_name }} app">{{ site_name }} app</a>
        <a title="{{ site_name }} Website">{{ site_name }} Website</a>
        <a title="{{ site_name }} bollywood">{{ site_name }} bollywood</a>
        <a title="pr-movies,{{ site_name }} download">pr-movies,{{ site_name }} download</a>
      </div>
    </div>
  </div>
</footer>