
 {% if node.field_movie_image.0.value %} 
               {% set image_url = node.field_movie_image.0.value %}
              {% else %}
               {% set image_url = content.field_image_urls.0 %}
              {% endif %}
              {% set image_url = node.field_image_urls.0.value %}
<article class="item movies swiper-slide">
<div class="poster">
<img src="{{image_url}}" alt="{{node.label}}">
<div class="rating"> {% for key,value in node.field_right.getValue %}
                        {% if 'IMDb:' in value['value'] %}
                         {{ value['value']|replace({ 'IMDb:': '' }) }}
                         {% endif %}
                        {% endfor %}</div>
<div class="mepo"> 
{% if node.field_quality.0.value %}
                  <span class="quality">HD</span>
                     {% endif %}
                     {% if node.field_eps.0.value %}
                 <span class="quality">Eps<i>{{ node.field_eps.0.value }}</i></span>
                     {% endif %} 
</div>
<a href="{{ url }}">
<div class="see play4"></div>
</a>
</div>
<div class="data dfeatur">
<h3><a href="{{ url }}">{{node.label}}</a></h3>
</div>
</article>