
<div class="swiper-slide" style="background-image: url({{ fields.field_image_urls.content }}); width: 1270px;" >
                <a href="{{ fields.view_node.content }}" class="slide-link" title="{{ fields.title.content }}"></a>
                <span class="slide-caption">
                  <h2>{{ fields.title.content }}</h2>
                  <p class="sc-desc"></p>
                  <p>Gunz, a youngster has the urge to mint money stumble upon a filthy rich girl Lucky, who believes Money is the cause of all distress in life. How does their…</p>
                  <p></p>

                  <div class="slide-caption-info">
                    <div class="block">
                     {{ fields.field_tags.content }}
                    </div>
                     {% set metadata = fields.field_metadata.content|split('|', 3) %}
                    <div class="block">
                      <strong>Duration:</strong> {{ metadata[2] }}
                    </div>
                    <div class="block">
                      <strong>Release:</strong> {{ metadata[1] }}
                    </div>
                    <div class="block">
                      <strong>IMDb:</strong> {{ metadata[0] }}
                    </div>
                  </div>
                  <a href="{{ fields.view_node.content }}">
                    <div class="btn btn-successful mt20">Watching</div>
                  </a>
                </span>
              </div>
             
           