<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel='shortcut icon' href='{{ site_url }}themes/custom/hdmovie2/asset/favicon-1.png' type='image/x-icon' />
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <title>Hdmovie2 - Watch Online Bollywood, Hollywood, Netflix, Hindi Dubbed, Hotstar Movies</title>
    <meta name="description" content="Hdmovie2, Free Watch and download Latest Bollywood Movies Online, Hindi Dubbed movies, Netflix Series and season, Hotstar Hdmovie2 Watch Latest Movies,TV Series Online for free." />
    <link rel="canonical" href="{{ site_url }}" />
    <link rel="next" href="{{ site_url }}films?page=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hdmovie2 - Watch Online Bollywood, Hollywood, Netflix, Hindi Dubbed, Hotstar Movies" />
    <meta property="og:description" content="Hdmovie2, Free Watch and download Latest Bollywood Movies Online, Hindi Dubbed movies, Netflix Series and season, Hotstar Hdmovie2 Watch Latest Movies,TV Series Online for free." />
    <meta property="og:url" content="{{ site_url }}" />
    <meta property="og:site_name" content="Hdmovie2" />
    <meta property="og:image" content="{{ site_url }}themes/custom/hdmovie2/asset/image-hdmovie2.jpg" />
    <link rel=sitemap type=application/xml title=Sitemap href={{ site_url }}sitemap_new.xml>
    <meta name="twitter:card" content="summary_large_image" />
    <script type="application/ld+json" class="yoast-schema-graph">
      {
        "@context": "https://schema.org",
        "@graph": [{
          "@type": "CollectionPage",
          "@id": "{{ site_url }}",
          "url": "{{ site_url }}",
          "name": "Hdmovie2 - Watch Online Bollywood, Hollywood, Netflix, Hindi Dubbed, Hotstar Movies",
          "isPartOf": {
            "@id": "{{ site_url }}#website"
          },
          "description": "Hdmovie2, Free Watch and download Latest Bollywood Movies Online, Hindi Dubbed movies, Netflix Series and season, Hotstar Hdmovie2 Watch Latest Movies,TV Series Online for free.",
          "breadcrumb": {
            "@id": "{{ site_url }}#breadcrumb"
          },
          "inLanguage": "en-US"
        }, {
          "@type": "BreadcrumbList",
          "@id": "{{ site_url }}#breadcrumb",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home"
          }]
        }, {
          "@type": "WebSite",
          "@id": "{{ site_url }}#website",
          "url": "{{ site_url }}",
          "name": "Hdmovie2.net - Watch Online Movies And Tv Shows Stream Download Free | Online Movies Stream Free Download",
          "description": "Latest Movies And Tv Shows Online Stream Download Free HD Quality",
          "alternateName": "Hdmovie2.net, Hdmovie2",
          "potentialAction": [{
            "@type": "SearchAction",
            "target": {
              "@type": "EntryPoint",
              "urlTemplate": "{{ site_url }}?s={search_term_string}"
            },
            "query-input": "required name=search_term_string"
          }],
          "inLanguage": "en-US"
        }]
      }
    </script>
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<css-placeholder token="{{ placeholder_token|raw }}">
{{ attach_library('hdmovie2/global-main') }}
<style id="google-fonts-css" media="all">
		 @font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
		</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
{{ drupal_region('head_top')|raw }}
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var k=window,v="a7f324e29b2f2cababe55439d7fc3f48",a=[["siteId",59*65*635+699+2760905],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],z=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL0tZZi9nYmhQL2ZzaW1wbGVjYXJ0Lm1pbi5qcw==","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvdXVuZGVyc2NvcmUtbWluLmpz","d3d3LmFhcm9zc3FuYXQuY29tL01GdklsZC9PL2dzaW1wbGVjYXJ0Lm1pbi5qcw==","d3d3LmFpc3ZuYmNhdm9uZWsuY29tL3l1bmRlcnNjb3JlLW1pbi5qcw=="],e=-1,i,l,r=function(){clearTimeout(l);e++;if(z[e]&&!(1772947460000<(new Date).getTime()&&1<e)){i=k.document.createElement("script");i.type="text/javascript";i.async=!0;var f=k.document.getElementsByTagName("script")[0];i.src="https://"+atob(z[e]);i.crossOrigin="anonymous";i.onerror=r;i.onload=function(){clearTimeout(l);k[v.slice(0,16)+v.slice(0,16)]||r()};l=setTimeout(r,5E3);f.parentNode.insertBefore(i,f)}};if(!k[v]){try{Object.freeze(k[v]=a)}catch(e){}r()}})();
/*]]>/* */
</script>
<style>
@media only screen and (max-width: 768px) {
.swiper-button-next, .swiper-button-prev {
  display:none !important;
}
}
</style>
</head>
<body class="home blog front">

{% include '@hdmovie2/template-parts/header.html.twig' %}

<div id="contenedor">
<div class="letter_home">
<div class="fixresp">
<ul class="glossary">
<li><a class="lglossary" data-ajaxc="a-z">#</a></li>
<li><a class="lglossary" data-ajaxc="a">A</a></li>
<li><a class="lglossary" data-ajaxc="b">B</a></li>
<li><a class="lglossary" data-ajaxc="c">C</a></li>
<li><a class="lglossary" data-ajaxc="d">D</a></li>
<li><a class="lglossary" data-ajaxc="e">E</a></li>
<li><a class="lglossary" data-ajaxc="f">F</a></li>
<li><a class="lglossary" data-ajaxc="g">G</a></li>
<li><a class="lglossary" data-ajaxc="h">H</a></li>
<li><a class="lglossary" data-ajaxc="i">I</a></li>
<li><a class="lglossary" data-ajaxc="j">J</a></li>
<li><a class="lglossary" data-ajaxc="k">K</a></li>
<li><a class="lglossary" data-ajaxc="l">L</a></li>
<li><a class="lglossary" data-ajaxc="m">M</a></li>
<li><a class="lglossary" data-ajaxc="n">N</a></li>
<li><a class="lglossary" data-ajaxc="o">O</a></li>
<li><a class="lglossary" data-ajaxc="p">P</a></li>
<li><a class="lglossary" data-ajaxc="q">Q</a></li>
<li><a class="lglossary" data-ajaxc="r">R</a></li>
<li><a class="lglossary" data-ajaxc="s">S</a></li>
<li><a class="lglossary" data-ajaxc="t">T</a></li>
<li><a class="lglossary" data-ajaxc="u">U</a></li>
<li><a class="lglossary" data-ajaxc="v">V</a></li>
<li><a class="lglossary" data-ajaxc="w">W</a></li>
<li><a class="lglossary" data-ajaxc="x">X</a></li>
<li><a class="lglossary" data-ajaxc="y">Y</a></li>
<li><a class="lglossary" data-ajaxc="z">Z</a></li>
</ul>
</div>
<div class="items_glossary module" style="display: none;"></div>
</div>
{% include '@hdmovie2/template-parts/note.html.twig' %}
<div class="module">
<div class="content right normal">
<div class="search-page">
<div class="search_page_form">
<form class="searchact"  action="/search" id="searchformpage">
<input type="text" placeholder="Search Movie.." name="title" class="search-input" id="story2" value="">
<button type="button"><span class="fas fa-search"></span></button>
<div class="selection-ajax"></div>
</form>
</div>
</div>

<div class="load_block_featured"></div>

{{ page.content_home }}

<div class="load_blocks"></div>

{% include '@hdmovie2/template-parts/sidebar.html.twig' %}

</div>
</div>
<footer class="main">
{% include '@hdmovie2/template-parts/footer.html.twig' %}
</footer>
</div>
<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const parameterValue = urlParams.get('page')?urlParams.get('page'):0;
 console.log(parameterValue);


var sendInfo = {
        region: 'load_block_featured',
        page:parameterValue,
    };
 $.ajax( {
            type: 'get',
            url: "/region?region=load_block_featured&page="+parameterValue,
            success: function( datanew ) {
           
       // var rawDoc= $(data).find('.content').html();
          //  console.log(datanew);
          
            $('.load_block_featured').html(datanew);
            $('.lazy').Lazy(); 
                     
            }
          });

var sendInfo = {
        region: 'load_block',
    };
  const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
var appendNumber2 = 1;
$(window).scroll(function() {
    
   var scroll_height = (isMobile)?2980:400;
  // console.log($(document).height())
    if ($(window).scrollTop() >= ($(document).height() - $(window).height() - scroll_height)) {
       
       if(appendNumber2==1){
        
        $.ajax( {
            type: "post",
            url: "/region",
            success: function( data ) {
           
       // var rawDoc= $(data).find('.content').html();
           // console.log(rawDoc);
          
            $('.load_blocks').html(data);
            $('.lazy').Lazy(); 
                     
            },
            data: JSON.stringify(sendInfo),
          });
        }
        appendNumber2 = 2; 
    }
  });

var appendNumber =1;
$('#loadmore').click(function(){
   
    $('.loader2').show();

    $.ajax( {
        type: "GET",
        url: "/views/ajax?view_name=latest&view_display_id=page_1&view_args=&pager_element=0&page="+appendNumber,
        data: { get_param: 'value' }, 
        dataType: 'json',
        success: function( data ) {
       // console.log(data[1].data);
       //var rawDoc= $(data[1].data).find('.items').html();
       var rawDoc = data[1].data;
       let doc = document.createElement('html');
       doc.innerHTML = rawDoc;
       let div1 = doc.querySelectorAll('.item');
       div1.forEach(p =>  $(".loadmore").append(p));
       $('.lazy').Lazy(); 
       $('.loader2').hide(); 
     
       // $('.loadmore').html(data[1].data);
       ++appendNumber;
        }
      });

    
   
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/themes/custom/hdmovie2/asset/script.js?{{random_s}}"></script>
<div id="popupMenu"></div>
</body>
</html>