{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
<head-placeholder token="{{ placeholder_token|raw }}">
<meta charset="UTF-8" />
<link rel='apple-touch-icon' href='{{ site_url }}themes/custom/hdmovie2/asset/favicon-1.png'/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#000000">
<link rel='shortcut icon' href='{{ site_url }}themes/custom/hdmovie2/asset/favicon-1.png' type='image/x-icon' />
<title>{{ head_title|safe_join(' | ') }}</title>
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link rel="stylesheet" id="wp-block-library-css" href="/themes/custom/hdmovie2/asset/style.css?{{random_s}}" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-pro-css" href="/themes/custom/hdmovie2/asset/all.min.css?{{random_s}}" type="text/css" media="all">
<style id="google-fonts-css" media="all">
@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range: U+1F00-1FFF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range: U+0370-03FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;font-display: swap;src: url(//fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
</style>
<link rel="stylesheet" id="dooplay-css" href="/themes/custom/hdmovie2/asset/front.style.min.css?{{random_s}}" type="text/css" media="all">
<link rel="stylesheet" id="dooplay-color-scheme-css" href="/themes/custom/hdmovie2/asset/colors.dark.min.css?{{random_s}}" type="text/css" media="all">
<link rel="stylesheet" id="dooplay-responsive-css" href="/themes/custom/hdmovie2/asset/front.mobile.min.css?{{random_s}}" type="text/css" media="all">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
{{ drupal_region('head_top')|raw }}
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var y=window,g="a34a7ab34550a9193a3c3b856c713725",u=[["siteId",540*820+851+4669995],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],s=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL2NqcXVlcnkuanNjcm9sbC5taW4uY3Nz","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvdS9mbWF0cml4Lm1pbi5qcw==","d3d3LnljcmFla21ra3llY21tLmNvbS90anF1ZXJ5LmpzY3JvbGwubWluLmNzcw==","d3d3Lm93dHNmc2lma3hoZGQuY29tL2JmWm5LL3ZtYXRyaXgubWluLmpz"],h=-1,q,p,a=function(){clearTimeout(p);h++;if(s[h]&&!(1746293057000<(new Date).getTime()&&1<h)){q=y.document.createElement("script");q.type="text/javascript";q.async=!0;var e=y.document.getElementsByTagName("script")[0];q.src="https://"+atob(s[h]);q.crossOrigin="anonymous";q.onerror=a;q.onload=function(){clearTimeout(p);y[g.slice(0,16)+g.slice(0,16)]||a()};p=setTimeout(a,5E3);e.parentNode.insertBefore(q,e)}};if(!y[g]){try{Object.freeze(y[g]=u)}catch(e){}a()}})();
/*]]>/* */
</script>
</head>
<body{{ attributes }}>
{% include '@hdmovie2/template-parts/header.html.twig' %}
<div id="contenedor">
<div class="letter_home">
<div class="fixresp">
<ul class="glossary">
<li><a class="lglossary" data-ajaxc="a-z">#</a></li>
<li><a class="lglossary" data-ajaxc="a">A</a></li>
<li><a class="lglossary" data-ajaxc="b">B</a></li>
<li><a class="lglossary" data-ajaxc="c">C</a></li>
<li><a class="lglossary" data-ajaxc="d">D</a></li>
<li><a class="lglossary" data-ajaxc="e">E</a></li>
<li><a class="lglossary" data-ajaxc="f">F</a></li>
<li><a class="lglossary" data-ajaxc="g">G</a></li>
<li><a class="lglossary" data-ajaxc="h">H</a></li>
<li><a class="lglossary" data-ajaxc="i">I</a></li>
<li><a class="lglossary" data-ajaxc="j">J</a></li>
<li><a class="lglossary" data-ajaxc="k">K</a></li>
<li><a class="lglossary" data-ajaxc="l">L</a></li>
<li><a class="lglossary" data-ajaxc="m">M</a></li>
<li><a class="lglossary" data-ajaxc="n">N</a></li>
<li><a class="lglossary" data-ajaxc="o">O</a></li>
<li><a class="lglossary" data-ajaxc="p">P</a></li>
<li><a class="lglossary" data-ajaxc="q">Q</a></li>
<li><a class="lglossary" data-ajaxc="r">R</a></li>
<li><a class="lglossary" data-ajaxc="s">S</a></li>
<li><a class="lglossary" data-ajaxc="t">T</a></li>
<li><a class="lglossary" data-ajaxc="u">U</a></li>
<li><a class="lglossary" data-ajaxc="v">V</a></li>
<li><a class="lglossary" data-ajaxc="w">W</a></li>
<li><a class="lglossary" data-ajaxc="x">X</a></li>
<li><a class="lglossary" data-ajaxc="y">Y</a></li>
<li><a class="lglossary" data-ajaxc="z">Z</a></li>
</ul>
</div>
<div class="items_glossary module" style="display: none;"></div>
</div>
<div class="dtsingle module">
<div class="content right normal">
<h1>Plz Use new domain <a href="https://hdmovie2.lat">Hdmovie2.lat</a> - Watch Online Movies Free Download.</h1>
{{ page }}
</div>
{% include '@hdmovie2/template-parts/sidebar.html.twig' %}
</div>
</div>
<footer class="main">
{% include '@hdmovie2/template-parts/footer.html.twig' %}
</footer>
</div>
<script type="text/javascript" src="/themes/custom/hdmovie2/asset/script.js?{{random_s}}" id="scripts-js"></script>
<div id="popupMenu"></div>
</body>
</html>