<meta name="viewport" content="width=1424"> 

<style>
#edit-actions {
	    display:flex;
}
</style>


{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div style="font-size: 21px;
    position: absolute;
    top: 481px;
    font-weight: 500;
    left: 10px;
    padding: 5px;
    background-color: #ffff01;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;">
This form in development Process
</div>

<div class="container">
	<header class="header" style="background-color: #d1d1d1;">
	<div class="row" style="padding-top: 28px;">
				<div class="col-md-5">
					<div class="txt" style="text-align: end;">
					<p style="margin-bottom: 9px;">राष्ट्रीय राजधानी क्षेत्र, दिल्ली सरकार</p>
<h1>ललित कला महाविद्यालय</h1>
<p>दिल्ली विश्वविद्यालय से सम्बद्ध</p>
<p>20-22 तिलक मार्ग, नई दिल्ली 110001</p>
</div>
				</div>
				<div class="col-md-2">
					<img src="/sites/default/files/logo2.png?id=2342" style="    margin: 0 auto;
    width: 76%;
    display: block;
    margin-top: -24px;
">
				</div>
				<div class="col-md-5">
				<div class="txt" style="    text-align: start;">
					<p style="margin-bottom: 9px;">Government of NCT of Delhi
<h1>COLLEGE OF ART</h1>
<p>Affiliated to University of Delhi</p>
<p>20-22, Tilak Marg, New Delhi-110001</p>
</div>
				</div>
				

	<h1 id="title" class="col-md-12 text-center">APPLICATION FORM FOR ADMISSION</h1>
				
				
	</div>
		
	</header>
	<div class="form-wrap">	

	<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_a_course_type }}
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						{{ form.field_a_specialisation }}
					</div>
				</div>
				
			</div>

			
		
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.title }}
					</div>
				</div>
				<div class="col-md-4">
				<div class="form-item">
       <label><a href="https://smartpay.ucoonline.in/COLZARTSDELHI/COLZARTSDELHI.aspx" target="_blank" class="button  btn-primary form-control" >Click here for payment</a></label>
						<div class="" style="    font-weight: 600;
    font-size: 14px;">Rs 250 for ST,SC and PWD category, and Rs 500 for all other categories.</div>
				</div>
				</div>
				<div class="col-md-4">
    {{ form.field_payment_recipe }}
						<div class="des"></div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-4">
    {{ form.field_a_photo }}
						<div class="des">Applicant’s passport size photograph to be affixed with selfattested</div>
				</div>
			<div class="col-md-4">
					<div class="form-group">
						{{ form.field_a_category }}
						{{ form.field_mfa_category }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_category_certificate }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form.field_a_date_of_birth }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form.field_date_of_birth_certificate }}
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_a_nationality }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_religion }}
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_gender }}
					</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_father_s_name }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_mother_s_name }}
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_guardian_s_name }}
					</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						{{ form.field_a_local_address }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_phone_no }}
					</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						{{ form.field_a_permanent_address }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_email }}
					</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_a_parent_s_occupation }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_total_annual_income }}
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_annual_income_certificate }}
					</div>
					</div>
				</div>
			</div>

			

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ form.field_college_last_attended }}
						{{ form.field_school_last_attended }}
					</div>
				</div>
				<div class="col-md-4">
					
						<div class="form-group">
						{{ form.field_a_date_of_leaving }}
					
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ form.field_a_university_enrolment_no }}
					</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
                     {{ form.field_examination }}
				
			</div>


			
			
			<div class="row">
				<div style="display: block;
    margin: 0 auto;
    position: relative;">
				<div class="form-group">
				{{ form.actions }}
					</div>
				</div>
			</div>
			

		
	</div>	
</div>