<meta name="viewport" content="width=1424"> 
{% if node.id == false %}
<style type="text/css" media="print">
BODY {display:none;visibility:hidden;}
</style>
{% endif %}
<style>

@media print {
body {-webkit-print-color-adjust: exact;}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1486px !important;
}
.header {
	background-color: #d1d1d1 !important;
	position: relative;
	}
.messages--status {
	display:none !important;
}
.print {
	display:none !important;
}
}
.form-item-view-mode {
	display:none !important;
}
#edit-backlink {
	background-color: #b90a0a;
    color: #fff;
    padding: 6px
}


.print {
	position: absolute;
    z-index: 100;
    width: 60px;
    top: 118px;
}
.header {
	background-color: #d1d1d1 !important;
	position: relative;
	print-color-adjust: exact; 
}

</style>
{% if node.id == true %}
<a href="javascript:if(window.print)window.print()" class="button print  btn-primary form-control" >Print</a>
{% endif %}



<div class="watermarked" >
<div class="container">
	<header class="header" style="">
	<div class="row" style="padding-top: 28px;">
				<div class="col-md-5">
					<div class="txt" style="text-align: end;">
					<p style="margin-bottom: 9px;">राष्ट्रीय राजधानी क्षेत्र, दिल्ली सरकार</p>
<h1>ललित कला महाविद्यालय</h1>
<p>दिल्ली विश्वविद्यालय से सम्बद्ध</p>
<p>20-22 तिलक मार्ग, नई दिल्ली 110001</p>
</div>
				</div>
				<div class="col-md-2">
					<img src="/sites/default/files/logo2.png?id=2342" style="    margin: 0 auto;
    width: 76%;
    display: block;
    margin-top: -24px;
">
				</div>
				<div class="col-md-5">
				<div class="txt" style="    text-align: start;">
					<p style="margin-bottom: 9px;">Government of NCT of Delhi
<h1>COLLEGE OF ART</h1>
<p>Affiliated to University of Delhi</p>
<p>20-22, Tilak Marg, New Delhi-110001</p>
</div>
				</div>
				
<div class="photo">
{{ content.field_a_photo.0 }}
</div>
	<h1 id="title" class="col-md-12 text-center">APPLICATION FORM FOR ADMISSION</h1>
				
				
	</div>
		
	</header>
	<div class="form-wrap" style="background-color: white;">	

	<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_course_type }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_specialisation }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_payment_recipe }}
					</div>
				</div>
				
			</div>

			
		
			
			<div class="row">
			
			<div class="col-md-4">
					
					<div class="item">
                       <label>Name : </label>
                       <div class="value">{{ label }}</div>
                    </div>
						
					
				</div>
				
			<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_category }}
						{{ content.field_mfa_category }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_category_certificate }}
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_date_of_birth }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_date_of_birth_certificate }}
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_nationality }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_religion }}
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_gender }}
					</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_father_s_name }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_mother_s_name }}
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_guardian_s_name }}
					</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ content.field_a_local_address }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_phone_no }}
					</div>
					</div>
				</div>
			</div>
            <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ content.field_a_permanent_address }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_email }}
					</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_a_parent_s_occupation }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_total_annual_income }}
					</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_annual_income_certificate }}
					</div>
					</div>
				</div>
			</div>

			

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{{ content.field_college_last_attended }}
						{{ content.field_school_last_attended }}
					</div>
				</div>
				<div class="col-md-3">
					
						<div class="form-group">
						{{ content.field_a_date_of_leaving }}
					
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<div class="form-group">
						{{ content.field_a_university_enrolment_no }}
					</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
                     {{ content.field_examination }}
				
			</div>


			
			
			<div class="row">
				<div class="col-md-2 offset-md-5">
				<div class="form-group">
				{{ content.actions }}
					</div>
				</div>
			</div>
			

		
	</div>	
</div>
</div>
