{% if rows %}
{% if header %}
{{ header }}
{% endif %} 
<div class="items normal {{ css_class }}">      
            
   
              {{ rows }}
   
            
         </div>
{% if footer %}
{{ footer }}
{% endif %}
{% if pager %}
    {{ pager }}
  {% endif %}
{% endif %}

