<div id="bread">
            <ol class="breadcrumb">
              <li>
                <a href="/">Home </a>
              </li>
              <li>
                <a href="/most-favorites/">Movies </a>
              </li>
              <li class="active"><a href="{{ url }}">{{ node.label }}</a></li>
            </ol>
          </div>

<div id="mv-info">
<div class="modal fade modal-cuz modal-trailer in" id="pop-trailer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="">
<div class="modal-dialog">
<div class="modal-content"><div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i> </button>
 <h4 class="modal-title" id="myModalLabel">Trailer: {{ node.label }}</h4>
 </div>
 <div class="modal-body"><div class="modal-body-trailer"> 
 <iframe id="iframe-trailer" width="600" height="450" src="" frameborder="0" allowfullscreen=""></iframe>
 <div>
 </div></div></div></div></div></div>
           
            <div id="content-embed" style="display:block;">
           {% if node.field_episodes.0.value %} 
            <div id="seasons">
            <div class="tvseason">
            <div class="les-title"> <i class="fa fa-server mr5"></i>
            <strong>{{ node.field_season_title.0.value }}</strong>
            </div>
            <div class="les-content" style="display: block">
            {% for key,value in node.field_episodes.getValue %}
             <a href="javascript:void(0)" data-value="{{ node.id }}" data-key="{{ key }}" data-types="eps"> Episode {{ key+1 }} </a> 
             {% set key = key+1 %}
             {% endfor %}
             </div>
             </div>
             </div>
             {% endif %}
              <div id="player2">
                <div id="tab1" style="display: block;">
                  <div class="movieplay">
                    <div class="parentif">
                     {% if node.field_poster_url.0.value %} 
               {% set poster_url = node.field_poster_url.0.value %}
              {% else %}
               {% set poster_url = content.field_image_urls.0 %}
              {% endif %}
                     <a title="{{ node.label }}" id="mvi-cover" data-value="{{ node.id }}" data-key="0" class="thumb mvi-cover splash-image" style="background-image: url({{ poster_url }});"></a>
                    
     <div class="mvi-content" id="mvi-content">
     <div class="player_nav">
    <ul class="idTabs">
    {% for key,value in node.field_player.getValue %}
      {% if ('speedostream' in value['value']) or ('minoplres' in value['value']) %}
         {% set class_tab = '' %}
          {% else %}
         {% set class_tab = 'tab_load' %}
          {% endif %}
    <li><div class="les-title"> <i class="fa fa-server mr5"></i> <strong>Server {{ key }}</strong></div><div class="les-content">
    <a href="#tab{{ key }}" data-value="{{ node.id }}" data-key="{{ key }}" class="{{ class_tab }}">HD</a></div></li>
    {% endfor %}
    </ul>
    
    </div> 

 




              <div class="mvic-btn">
                <div class="clearfix"></div>
              </div>
             
              <div class="thumb mvic-thumb" style="background-image: url('{{ node.field_image_urls.0.value }}');">
                <img title="{{ node.label }}" alt="{{ node.label }}" src="{{ node.field_image_urls.0.value }}" class="hidden" style="width: 140px; height: 210px;">
              </div>
              <div class="mvic-desc">
                <h3>{{ node.label }}</h3>
                {% if node.field_trailer.0.value %} 
                <div class="block-trailer"> <a data-target="#pop-trailer" data-toggle="modal" href="{{ node.field_trailer.0.value }}" class="pop-trailer btn btn-primary"> <i class="fa fa-video-camera mr5"></i>Trailer</a></div>
                {% endif %} 
                <div class="block-social">
                  <div class="addthis_inline_share_toolbox"></div>
                </div>
               
                <div class="mvic-info">
                  <div class="mvici-left">
                    <p>
                      <strong>Genre: </strong>
                      
                      {% for key, item in content.field_tags if key|first != '#' %}
      {{ item }},
    {% endfor %}
                    </p>
                    
                    
                      
                      
                        {% for key,value in node.field_left.getValue %}
                        {% if 'Director:' in value['value'] %}
                        <p>
                        <strong>Director: </strong>
                        <span>
                         {{ value['value']|replace({ 'Director:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Actors:' in value['value'] %}
                        <p>
                        <strong>Actors: </strong>
                        <span>
                         {{ value['value']|replace({ 'Actors:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Country:' in value['value'] %}
                        <p>
                        <strong>Country: </strong>
                        <span>
                         {{ value['value']|replace({ 'Country:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Studio:' in value['value'] %}
                        <p>
                        <strong>Studio: </strong>
                        <span>
                         {{ value['value']|replace({ 'Studio:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}
                      
                    
                    
                    
                  </div>
                  <div class="mvici-right">

                   {% for key,value in node.field_right.getValue %}
                        {% if 'TV Status:' in value['value'] %}
                        <p>
                        <strong>TV Status: </strong>
                        <span>
                         {{ value['value']|replace({ 'TV Status:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                   
                  {% if node.field_episodes.0.value is null %}
                   {% for key,value in node.field_right.getValue %}
                        {% if 'Duration:' in value['value'] %}
                        <p>
                        <strong>Duration: </strong>
                        <span>
                         {{ value['value']|replace({ 'Duration:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                  {% endif %}
                   {% for key,value in node.field_right.getValue %}
                        {% if 'Quality:' in value['value'] %}
                        <p>
                        <strong>Quality: </strong>
                        <span>
                         {{ value['value']|replace({ 'Quality:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}

                   {% for key,value in node.field_right.getValue %}
                        {% if 'Release:' in value['value'] %}
                        <p>
                        <strong>Release: </strong>
                        <span>
                         {{ value['value']|replace({ 'Release:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                   
                   
                   
                    <div>
                      
                    </div>
                    
                 
                    
                    {% for key,value in node.field_right.getValue %}
                        {% if 'IMDb:' in value['value'] %}
                        <div class="imdb_r">
                        <p>
                        <strong>IMDb: </strong>
                        <span class="imdb-r">  
                         {{ value['value']|replace({ 'IMDb:': '' }) }}
                        </span>
                        </p>
                        </div>
                         {% endif %}
                   {% endfor %}

                    {% for key,value in node.field_right.getValue %}
                        {% if 'TMDb:' in value['value'] %}
                        <div class="imdb_r">
                        <p>
                        <strong>TMDb: </strong>
                        <span class="imdb-r">  
                         {{ value['value']|replace({ 'TMDb:': '' }) }}
                        </span>
                        </p>
                        </div>
                         {% endif %}
                   {% endfor %}
                    
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                 <div class="desc">
                  <p class="f-desc">{{ node.field_download_detail.value|raw }}</p>
                </div>
              </div>
              {% if node.field_keyword.0.value %}
              <div id="mv-keywords">
  <strong class="mr10">Keywords:</strong>
  <a href="{{ url('<front>') }}tag/{{ slug("Download #{ node.label } on yomovies") }}" rel="tag">Download {{ node.label }} on yomovies</a>
  <a href="{{ url('<front>') }}tag/{{ slug("#{ node.label } Full Movie Watch Online HD Free Download") }}" rel="tag">{{ node.label }} Full Movie Watch Online HD Free Download</a>
  <a href="{{ url('<front>') }}tag/{{ slug("#{ node.label } Watch Online on prmovies") }}" rel="tag">{{ node.label }} Watch Online on prmovies</a>
  <a href="{{ url('<front>') }}tag/{{ slug("#{ node.label } Watch online") }}" rel="tag">{{ node.label }} Watch online</a>
  <a href="{{ url('<front>') }}tag/{{ slug("Watch #{ node.label } Movie Online Free") }}" rel="tag">Watch {{ node.label }} Movie Online Free</a>
  <a href="{{ url('<front>') }}tag/{{ slug("Watch #{ node.label } Online Full Movie Free") }}" rel="tag">Watch {{ node.label }} Online Full Movie Free</a>
  <a href="{{ url('<front>') }}tag/{{ slug("Watch #{ node.label } Full Movie Free Online") }}" rel="tag">Watch {{ node.label }} Full Movie Free Online</a>
</div>
               {% endif %}
              <div class="clearfix"></div>
            </div>
          </div>
 {% if 'speedostream' in node.field_download_url.0.value  or ('minoplres' in node.field_download_url.0.value) or node.field_episodes.0.value %}

    <div id="list-dl" class="tab-pane active">
          <div id="lnk list-downloads">
          <div class="btn-group btn-group-justified embed-selector" style="margin-bottom:1px;"> 
          <span style="" class="lnk lnk-title">Server</span>
           <span class="lnk lnk-title">Language</span>
            <span class="lnk lnk-title">Quality</span> 
            <span class="lnk lnk-title" role="" target="_blank">Links</span>
            </div>
            {% set dl=(node.field_download_url.0.value)?node.field_download_url.getValue:node.field_episodes.getValue %}
             {% for key,value in dl %}
            <div class="btn-group btn-group-justified embed-selector">
             <a href="javascript:void(0)" data-value="{{ node.id }}" data-key="{{ key }}" class="lnk-lnk lnk-1" target="_blank"> <span style="" class="lnk lnk-dl"><img style="" src="https://www.google.com/s2/favicons?domain=HD" alt="HD"> <span class="serv_tit">HD</span></span> <span class="lnk lnk-dl">
              <span class="lang_tit">
                        {% for key,value in node.field_right.getValue %}
                        {% if 'Quality:' in value['value'] %}
                         {{ value['value']|replace({ 'Quality:': '' }) }}
                         {% endif %}
                        {% endfor %}
                        </span></span> <span class="lnk lnk-dl">HD</span> <span class="lnk lnk-dl" id="lnk-dl-button" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> <span class="dl_tit">Download</span></span> 
              </a>
              </div>
              {% endfor %}
              </div></div>

   
   {% endif %}     
         
              </div>
              
              
            </div>
           






            </div>

          </div>
          
       
          {% set tag_s = '' %}
          {% for key, value in content.field_tags if key|first != '#' %}
          {% set value_new = value|render|render|striptags %}
{% if 'Bollywood' in value_new %}
 {% set tag_s = 'Bollywood' %}
{% elseif 'Hollywood' in value_new %}
 {% set tag_s = 'Hollywood' %}
{% elseif 'South Special' in value_new %}
 {%  set tag_s = 'South Special' %}
{% endif %}

{% endfor %}

<div class="movies-list-wrap mlw-related">
<div class="ml-title ml-title-page">
 <span>You May Also Like</span>
 </div>
 <div class="movies-list movies-list-full">
{{ related(node.label,node.field_quality.0.value,node.id,tag_s) }}
 </div>
</div>