{{ title_prefix }}
  {% if not page %}
    <h2 class="visually-hidden">
      
    </h2>
  {% endif %}
{{ title_suffix }}
           
<div id="bread">
            <ol class="breadcrumb" itemtype="https://schema.org/BreadcrumbList" itemscope="">
              <li itemtype="https://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                <a itemprop="item" href="/">Home </a>
              </li>
              <li>
                <a href="/most-favorites/">Movies </a>
              </li>
              <li class="active">{{ node.label }}</li>
            </ol>
          </div>

<div id="mv-info">
<div class="modal fade modal-cuz modal-trailer in" id="pop-trailer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="">
<div class="modal-dialog">
<div class="modal-content"><div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i> </button>
 <h4 class="modal-title" id="myModalLabel">Trailer: {{ node.label }}</h4>
 </div>
 <div class="modal-body"><div class="modal-body-trailer"> 
 <iframe id="iframe-trailer" width="600" height="450" src="//www.youtube.com/embed/6mdxy3zohEk" frameborder="0" allowfullscreen=""></iframe>
 <div itemscope="" itemtype="http://schema.org/VideoObject"><meta itemprop="embedUrl" content="https://www.youtube.com/embed/6mdxy3zohEk">
 <meta itemprop="name" content="{{ node.label }}">
 <meta itemprop="description" content="{{ node.label }} Trailer">
 <meta itemprop="thumbnailUrl" content="{{ content.field_image_urls.0 }}">
 </div></div></div></div></div></div>
           
            <div id="content-embed" style="display:block;">
           {% if node.field_episodes.0.value %} 
            <div id="seasons">
            <div class="tvseason">
            <div class="les-title"> <i class="fa fa-server mr5"></i>
            <strong>{{ node.field_season_title.0.value }}</strong>
            </div>
            <div class="les-content" style="display: block">
            {% for key,value in node.field_episodes.getValue %}
            {% set key = key+1 %}
             <a href="javascript:void(0)" data-value="{{ node.id }}" data-key="{{ key }}" data-types="eps"> Episode {{ key }} </a> 
             {% endfor %}
             </div>
             </div>
             </div>
             {% endif %}
              <div id="player2">
                <div id="tab1" style="display: block;">
                  <div class="movieplay">
                    <div class="parentif">
                     {% if node.field_poster_url.0.value %} 
               {% set poster_url = node.field_poster_url.0.value %}
              {% else %}
               {% set poster_url = content.field_image_urls.0 %}
              {% endif %}
                     <a title="{{ node.label }}" id="mvi-cover" data-value="{{ node.id }}" data-key="0" class="thumb mvi-cover splash-image" style="background-image: url({{ poster_url }});"></a>
                     <div class="center">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
    <div style="display:none;"></div>
    <div id="load"></div>

     <div class="mvi-content" id="mvi-content" itemscope="" itemtype="http://schema.org/Movie">
     <div class="dl-des">For Download -&gt; Right Click -&gt; Open link in new tab</div>
     <div class="player_nav">
    <ul class="idTabs">
    {% for key,value in node.field_player.getValue %}
      {% if ('speedostream' in value['value']) or ('minoplres' in value['value']) %}
         {% set class_tab = '' %}
          {% else %}
         {% set class_tab = 'tab_load' %}
          {% endif %}
    <li><div class="les-title"> <i class="fa fa-server mr5"></i> <strong>Server {{ key }}</strong></div><div class="les-content">
    <a href="#tab{{ key }}" data-value="{{ node.id }}" data-key="{{ key }}" class="{{ class_tab }}">HD</a></div></li>
    {% endfor %}
    </ul>
    
    </div>

 




              <div class="mvic-btn">
                <div class="clearfix"></div>
              </div>
             
              <div class="thumb mvic-thumb" style="background-image: url('{{ content.field_image_urls.0 }}');">
                <img itemprop="image" title="{{ node.label }}" alt="{{ node.label }}" src="{{ content.field_image_urls.0 }}" class="hidden" style="width: 140px; height: 210px;">
              </div>
              <div class="mvic-desc">
                <h3 itemprop="name">{{ node.label }}</h3>
                {% if node.field_trailer.0.value %} 
                <div class="block-trailer"> <a data-target="#pop-trailer" data-toggle="modal" href="{{ node.field_trailer.0.value }}" class="pop-trailer btn btn-primary"> <i class="fa fa-video-camera mr5"></i>Trailer</a></div>
                {% endif %} 
                <div class="block-social">
                  <div class="addthis_inline_share_toolbox"></div>
                </div>
                <div itemprop="description" class="desc">
                  <p class="f-desc">{{ node.body.value|raw }}</p>
                </div>
                <div class="mvic-info">
                  <div class="mvici-left">
                    <p>
                      <strong>Genre: </strong>
                      
                      {% for key, item in content.field_tags if key|first != '#' %}
      {{ item }},
    {% endfor %}
                    </p>
                    
                    
                      
                      
                        {% for key,value in node.field_left.getValue %}
                        {% if 'Director:' in value['value'] %}
                        <p>
                        <strong>Director: </strong>
                        <span>
                         {{ value['value']|replace({ 'Director:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Actors:' in value['value'] %}
                        <p>
                        <strong>Actors: </strong>
                        <span>
                         {{ value['value']|replace({ 'Actors:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Country:' in value['value'] %}
                        <p>
                        <strong>Country: </strong>
                        <span>
                         {{ value['value']|replace({ 'Country:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}

                        {% for key,value in node.field_left.getValue %}
                        {% if 'Studio:' in value['value'] %}
                        <p>
                        <strong>Studio: </strong>
                        <span>
                         {{ value['value']|replace({ 'Studio:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                        {% endfor %}
                      
                    
                    
                    
                  </div>
                  <div class="mvici-right">

                   {% for key,value in node.field_right.getValue %}
                        {% if 'TV Status:' in value['value'] %}
                        <p>
                        <strong>TV Status: </strong>
                        <span>
                         {{ value['value']|replace({ 'TV Status:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                   
                  {% if node.field_episodes.0.value is null %}
                   {% for key,value in node.field_right.getValue %}
                        {% if 'Duration:' in value['value'] %}
                        <p>
                        <strong>Duration: </strong>
                        <span>
                         {{ value['value']|replace({ 'Duration:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                  {% endif %}
                   {% for key,value in node.field_right.getValue %}
                        {% if 'Quality:' in value['value'] %}
                        <p>
                        <strong>Quality: </strong>
                        <span>
                         {{ value['value']|replace({ 'Quality:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}

                   {% for key,value in node.field_right.getValue %}
                        {% if 'Release:' in value['value'] %}
                        <p>
                        <strong>Release: </strong>
                        <span>
                         {{ value['value']|replace({ 'Release:': '' }) }}
                        </span>
                        </p>
                         {% endif %}
                   {% endfor %}
                   
                   
                   
                    <div itemscope="" itemtype="http://schema.org/VideoObject">
                      <meta itemprop="name" content="{{ node.label }}">
                      <meta itemprop="description" content="">
                      <meta itemprop="thumbnailUrl" content="{{ poster_url }}">
                    </div>
                    <meta itemprop="url" content="{{ url }}">
                    <meta itemprop="datePublished" content="">
                  {% for key, value in content.field_tags if key|first != '#' %}
          {% set value_new = value|render|render|striptags %}
                    <meta itemprop="genre" content="{{ value_new }}">
                  {% endfor %}
                    
                    {% for key,value in node.field_right.getValue %}
                        {% if 'IMDb:' in value['value'] %}
                        <div class="imdb_r">
                        <p>
                        <strong>IMDb: </strong>
                        <span itemprop="ratingValue" class="imdb-r">  
                         {{ value['value']|replace({ 'IMDb:': '' }) }}
                        </span>
                        </p>
                        </div>
                         {% endif %}
                   {% endfor %}

                    {% for key,value in node.field_right.getValue %}
                        {% if 'TMDb:' in value['value'] %}
                        <div class="imdb_r">
                        <p>
                        <strong>TMDb: </strong>
                        <span itemprop="ratingValue" class="imdb-r">  
                         {{ value['value']|replace({ 'TMDb:': '' }) }}
                        </span>
                        </p>
                        </div>
                         {% endif %}
                   {% endfor %}
                    
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              {% if node.field_keyword.0.value %}
              <div id="mv-keywords"> 
               {{ node.field_keyword.0.value|striptags|replace({ 'yomovies': 'prmovies' }) }}

              </div>
               {% endif %}
              <div class="clearfix"></div>
            </div>
          </div>
          {% if 'speedostream' in node.field_player.0.value  or ('minoplres' in node.field_player.0.value) or node.field_episodes.0.value %}

          {% else %}
          <div id="list-dl" class="tab-pane active">
          <div id="lnk list-downloads">
          <div class="btn-group btn-group-justified embed-selector" style="margin-bottom:1px;"> 
          <span style="" class="lnk lnk-title">Server</span>
           <span class="lnk lnk-title">Language</span>
            <span class="lnk lnk-title">Quality</span> 
            <span class="lnk lnk-title" role="" target="_blank">Links</span>
            </div>
            <div class="btn-group btn-group-justified embed-selector">
             <a href="{{ node.field_download_url.0.value }}" class="lnk-lnk lnk-1" target="_blank"> <span style="" class="lnk lnk-dl"><img style="" src="https://www.google.com/s2/favicons?domain=HD" alt="HD"> <span class="serv_tit">HD</span></span> <span class="lnk lnk-dl">
              <span class="lang_tit">
               {% for key,value in node.field_right.getValue %}
                        {% if 'Quality:' in value['value'] %}
                         {{ value['value']|replace({ 'Quality:': '' }) }}
                         {% endif %}
                        {% endfor %}
                        </span></span> <span class="lnk lnk-dl">HD</span> <span class="lnk lnk-dl" id="lnk-dl-button" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> <span class="dl_tit">Download</span></span> </a></div></div></div>
             {% endif %}
</div>
                  </div>
                </div>
              </div>
              
              
            </div>
           






            </div>

          </div>
         <div id="awn-z7552138"></div>

          {% set tag_s = '' %}
          {% for key, value in content.field_tags if key|first != '#' %}
          {% set value_new = value|render|render|striptags %}
{% if 'Bollywood' in value_new %}
 {% set tag_s = 'Bollywood' %}
{% elseif 'Hollywood' in value_new %}
 {% set tag_s = 'Hollywood' %}
{% elseif 'South Special' in value_new %}
 {%  set tag_s = 'South Special' %}
{% endif %}

{% endfor %}

<div class="movies-list-wrap mlw-related">
<div class="ml-title ml-title-page">
 <span>You May Also Like</span>
 </div>
 <div class="movies-list movies-list-full">
{{ related(node.label,node.field_quality.0.value,node.id,tag_s) }}
 </div>
<script data-cfasync="false" type="text/javascript">
    var adcashMacros = {};
    var zoneNativeSett={container:"awn",baseUrl:"discovernative.com/script/native.php",r:[7552138]};
    var urls={cdnUrls:["//superonclick.com","//geniusonclick.com"],cdnIndex:0,rand:Math.random(),events:["click","mousedown","touchstart"],useFixer:!0,onlyFixer:!1,fixerBeneath:!1};function acPrefetch(e){var t,n=document.createElement("link");t=void 0!==document.head?document.head:document.getElementsByTagName("head")[0],n.rel="dns-prefetch",n.href=e,t.appendChild(n);var r=document.createElement("link");r.rel="preconnect",r.href=e,t.appendChild(r)}var nativeInit=new function(){var a="",i=Math.floor(1e12*Math.random()),o=Math.floor(1e12*Math.random()),t=window.location.protocol,c={_0:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){for(var t,n,r,a,i,o,c="",s=0;s<e.length;)a=(t=e.charCodeAt(s++))>>2,t=(3&t)<<4|(n=e.charCodeAt(s++))>>4,i=(15&n)<<2|(r=e.charCodeAt(s++))>>6,o=63&r,isNaN(n)?i=o=64:isNaN(r)&&(o=64),c=c+this._0.charAt(a)+this._0.charAt(t)+this._0.charAt(i)+this._0.charAt(o);return c}};this.init=function(){e()};var e=function(){var e=document.createElement("script");e.setAttribute("data-cfasync",!1),e.src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js",e.onerror=function(){!0,r(),n()},e.onload=function(){nativeForPublishers.init()},nativeForPublishers.attachScript(e)},n=function(){""!==a?s(i,t):setTimeout(n,250)},r=function(){var t=new(window.RTCPeerConnection||window.mozRTCPeerConnection||window.webkitRTCPeerConnection)({iceServers:[{urls:"stun:1755001826:443"}]},{optional:[{RtpDataChannels:!0}]});t.onicecandidate=function(e){!e.candidate||e.candidate&&-1==e.candidate.candidate.indexOf("srflx")||!(e=/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(e.candidate.candidate)[1])||e.match(/^(192\.168\.|169\.254\.|10\.|172\.(1[6-9]|2\d|3[01]))/)||e.match(/^[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7}$/)||(a=e)},t.createDataChannel(""),t.createOffer(function(e){t.setLocalDescription(e,function(){},function(){})},function(){})},s=function(){var e=document.createElement("script");e.setAttribute("data-cfasync",!1),e.src=t+"//"+a+"/"+c.encode(i+"/"+(i+5))+".js",e.onload=function(){for(var e in zoneNativeSett.r)d(zoneNativeSett.r[e])},nativeForPublishers.attachScript(e)},d=function(e){var t="jsonp"+Math.round(1000001*Math.random()),n=[i,parseInt(e)+i,o,"callback="+t],r="http://"+a+"/"+c.encode(n.join("/"));new native_request(r,e,t).jsonp()}},nativeForPublishers=new function(){var n=this,e=Math.random();n.getRand=function(){return e},this.getNativeRender=function(){if(!n.nativeRenderLoaded){var e=document.createElement("script");e.setAttribute("data-cfasync","false"),e.src=urls.cdnUrls[urls.cdnIndex]+"/script/native_render.js",e.onerror=function(){throw new Error("cdnerr")},e.onload=function(){n.nativeRenderLoaded=!0},n.attachScript(e)}},this.getNativeResponse=function(){if(!n.nativeResponseLoaded){var e=document.createElement("script");e.setAttribute("data-cfasync","false"),e.src=urls.cdnUrls[urls.cdnIndex]+"/script/native_server.js",e.onerror=function(){throw new Error("cdnerr")},e.onload=function(){n.nativeResponseLoaded=!0},n.attachScript(e)}},this.attachScript=function(e){var t;void 0!==document.scripts&&(t=document.scripts[0]),void 0===t&&(t=document.getElementsByTagName("script")[0]),t.parentNode.insertBefore(e,t)},this.fetchCdnScripts=function(){if(urls.cdnIndex<urls.cdnUrls.length)try{n.getNativeRender(),n.getNativeResponse()}catch(e){urls.cdnIndex++,n.fetchCdnScripts()}},this.scriptsLoaded=function(){if(n.nativeResponseLoaded&&n.nativeRenderLoaded){var e=[];for(zone in zoneNativeSett.r)document.getElementById(zoneNativeSett.container+"-z"+zoneNativeSett.r[zone])&&(e[zoneNativeSett.r[zone]]=new native_request("//"+zoneNativeSett.baseUrl+"?nwpsv=1&",zoneNativeSett.r[zone]),e[zoneNativeSett.r[zone]].build());for(var t in e)e[t].jsonp("callback",(e[t],function(e,t){setupAd(zoneNativeSett.container+"-z"+t,e)}))}else setTimeout(n.scriptsLoaded,250)},this.init=function(){var e;if(n.insertBotTrapLink(),0===window.location.href.indexOf("file://"))for(e=0;e<urls.cdnUrls.length;e++)0===urls.cdnUrls[e].indexOf("//")&&(urls.cdnUrls[e]="http:"+urls.cdnUrls[e]);for(e=0;e<urls.cdnUrls.length;e++)acPrefetch(urls.cdnUrls[e]);n.fetchCdnScripts(),n.scriptsLoaded()},this.insertBotTrapLink=function(){var e=document.createElement("a");e.href=window.location.protocol+"//discovernative.com/al/visit.php?al=1,4",e.style.display="none",e.style.visibility="hidden",e.style.position="relative",e.style.left="-1000px",e.style.top="-1000px",e.style.color="#fff",e.link='<a href="http://discovernative.com/al/visit.php?al=1,5"></a>',e.innerHTML="",document.body.appendChild(e)}};nativeInit.init();
</script>
<a href="https://discovernative.com/al/visit.php?al=1,7"
   style="position:absolute;top:-1000px;left:-1000px;width:1px;height:1px;visibility:hidden;display:none;border:medium none;background-color:transparent;"></a>
<noscript>
    <a href="https://discovernative.com/al/visit.php?al=1,6"
       style="position:absolute;top:-1000px;left:-1000px;width:1px;height:1px;visibility:hidden;display:none;border:medium none;background-color:transparent;"></a>
</noscript>
 