{% if node.field_movie_image.0.value %} 
               {% set image_url = node.field_movie_image.0.value %}
              {% else %}
               {% set image_url = content.field_image_urls.0 %}
              {% endif %}
              {% set image_url = node.field_image_urls.0.value %}

	
 <li>
<a style="background-image: url({{image_url}})" class="thumb" href="{{url}}"></a>
<div class="ss-info">
<a href="{{url}}" class="ss-title">{{node.label}}</a>
 {% set metadata = node.field_metadata.0.value|split('|', 3) %}
<p>{{ metadata[2] }}</p>
 {% for key, item in content.field_tags if key|first != '#' %}
      {{ item }},
    {% endfor %} </div>
<div class="clearfix"></div>
</li>

