 {{ page.header }}

<div id="dt_contenedor">
    <header id="header" class="main" style="opacity: 1;">
<div class="hbox">
<div class="fix-hidden">
<div class="logo"><a href="{{site_url}}"><img src="/themes/custom/hdmovie2/asset/logo-2-1.webp" alt="Hdmovie2"></a></div>
<div class="head-main-nav">
  <div class="menu-header-container">
{{ page.primary_menu }}
  </div>
</div>
</div>
</div>
</header>
<div class="fixheadresp">
<header class="responsive">
<div class="nav"><a class="aresp nav-resp"></a></div>
<div class="search"><a class="aresp search-resp"></a></div>
<div class="logo"> <a href="{{site_url}}"><img src="/themes/custom/hdmovie2/asset/logo-2-1.webp"></a> </div>
</header>
<div class="search_responsive">
<form method="get" action="{{site_url}}search" id="form-search-resp" class="form-resp-ab">
<input type="text" placeholder="Search..." name="title" id="story" value="" autocomplete="off">
<button type="submit" class="search-button"><span class="fas fa-search"></span></button>
<div class="selection-ajax"></div>
</form>
</div>
<div id="arch-menu" class="menuresp">
<div class="menu">
<div class="menu-header-container">
{{ page.primary_menu }}
</div>
</div>
</div>
</div>